<title>Subscribe</title>
<link rel="stylesheet" href="/app.css">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<link href="https://fonts.googleapis.com/css?family=Jua|Sarpanch" rel="stylesheet">
<body>
	<section class="subscribebox"> 
		<div class="subscribe">subscribe</div>
		<div class="join"><p>Enter your email to join <strong><%=data%></strong> others on our waitlist.</p></div>
		<form method="POST" action="/subscribe" class="emailinput"">
			<input type="email" name="email" placeholder="EMAIL" required>
		<div class="input-group-append" id="but">
    		<button class="btn btn-outline-secondary" type="submit" id="button-addon2">SUBMIT</button>
    	</div>  
		</form>
	</section>
</body>

 
