<% if(locals.messageSuccess){ %>
    <div class="alert alert-success" role="alert">
        <strong>Success!</strong> <%=messageSuccess.success%>
    </div>
<% } %>
<% if(locals.messageFail){ %>
    <div class="alert alert-success" role="alert">
        <strong>Error!</strong> <%=messageFail.fail%>
    </div>
<% } %>
